{
  "include": ["src/**/*.js", "src/**/*.vue"],
  "exclude": [
    "**/node_modules/**",
    "**/docs/**",
    "**/mock/**",
    "**/tests/**",
    "**/*.spec.js",
    "**/*.mock.*.js",
    "src/graphql/graphiql.js",
    "src/i18n/**/*.*",
    "src/lang/**/*.*",
    "src/plugins/**/*.*",
    "src/services/mock/**/*.*",
    "src/styles/**/*.*",
    "src/components/index.js"
  ],
  "excludeNodeModules": true,
  "extension": [".js", ".vue"],
  "reporter": ["html", "lcov", "text-summary"],
  "cache": false,
  "all": false,
  "check-coverage": false,
  "instrument": true,
  "sourceMap": true
}
