{
  "lines" : 0,
  "statements" : 0,
  "branches" : 0,
  "include" : ["src/**/*.js"],
  "exclude" : [
    "node_modules",
    "docs",
    "tests",
    "src/i18n",
    "src/lang",
    "src/plugins",
    "src/services/mock",
    "src/styles",
    "src/components/index.js"
   ],
  "extension" : [".js", ".vue"],
  "reporter" : ["html", "lcov", "text-summary"],
  "cache" : false,
  "all" : true,
  "check-coverage" : true
}
