{
  "lines" : 0,
  "statements" : 0,
  "branches" : 0,
  "include" : ["src/**/*.js", "tests"],
  "exclude" : ["node_modules", "docs"],
  "extension" : [".js", ".vue"],
  "reporter" : ["html", "lcov", "text-summary"],
  "cache" : false,
  "all" : true,
  "check-coverage" : true
}
