.c-graph {
    width: 100%;
    height: 800px;
    background-color: #fff;
    z-index: 1;

    #cytoscape {
      width: 100%;
      height: 800px;
      background-color: #fff;
      z-index: 2;
    }

    .cytoscape-navigator-overlay {
      position: absolute;
      border: 1px solid #bacbcc;
      background: #eafbfc;
      z-index: 5;
      width: 200px;
      height: 150px;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
    }

    .cytoscape-navigatorView {
      border: 1px solid #0a4;
      border-radius: 4px;
      background-color: #8af;
      opacity: 0.2;
      /* cursor: move; */
    }

    .spinner {
      position: absolute;
      bottom: 21px;
      left: 1px;
      z-index: 99;
    }

   .switchlayout {
      position: absolute;
      bottom: 40px;
      left: 0px;
    }

    .layout-button {
      text-align: centre;
      color: slategray;
      z-index: 4;
      height: 40px;
      margin-left: 4px;
    }

    .button-highlight {
       background:yellow;
    }

    .graph-warning {
       color:red;
       background:white;
       position: absolute;
       bottom:0px;
       left:0px;
       z-index: 4;
    }

   .freeze-button {
      text-align: centre;
      color: red;
      z-index: 4;
      height: 40px;
      margin: 4px;
    }

    .node-tooltip {
      font-family: arial, helvetica, sans-serif;
    }

    .edge-tooltip {
      font-family: arial, helvetica, sans-serif;
      width: 100%;
    }
}

.tippy-tooltip {
    background-color: black;
    font-family:courier;
}
