.c-graph {
  width: 100%;
  // the height of the graph area is 100 viewport-height, minus the height of the toolbar
  height: calc(100vh - 48px);
  background-color: #fff;
  overflow: hidden;
  z-index: 1;

  .cytoscape {
    // within the c-graph, so we just tell it to occupy the whole area
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }

  .cytoscape-navigator-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.06);
    z-index: 5;
    width: 200px;
    height: 150px;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

  .cytoscape-navigatorView {
    border: 1px solid #0a4;
    border-radius: 4px;
    background-color: #8af;
    opacity: 0.2;
    /* cursor: move; */
  }

  .spinner {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
  }

  .switch-layout {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;

    .layout-button {
      z-index: 4;
      flex: 1 1 max-content;
    }

    // prevent v-select width 100% - https://github.com/vuetifyjs/vuetify/issues/6275#issuecomment-546621371
    .v-select__selections input {
      display: none
    }
  }

  .button-highlight {
    background: yellow;
  }

  .graph-warning {
    color: red;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
  }

  .freeze-button {
    text-align: center;
    color: red;
    z-index: 4;
    height: 40px;
    margin: 4px;
  }

  .node-tooltip {
    font-family: arial, helvetica, sans-serif;
  }

  .edge-tooltip {
    font-family: arial, helvetica, sans-serif;
    width: 100%;
  }
}

.tippy-tooltip {
  background-color: black;
  font-family: courier, serif;
}
