.c-header {
  background-color: map-get($grey, 'lighten-3');
  display: block;

  .layout {
    .c-environment-info {
      font-size: 1rem;
      font-weight: map-get($font-weights, 'regular');

      .v-chip {
        font-size: 1rem;
        span {
          background-color: map-get($grey, 'lighten-5');
        }
      }

      .v-chip.v-chip--outlined.v-chip.v-chip {
        background-color: map-get($grey, 'lighten-5') !important;
      }
    }
  }
}
