.job_theme--normal {

    $teal: rgb(125,207,212);
    $blue: rgb(106,164,241);
    $green: rgb(81,175,81);
    $red: rgb(207,72,72);
    $pink: rgb(190,106,192);

    .c-job {
        svg.job {
            rect {
                /* if no job status display nothing */
                fill: transparent;
                stroke: transparent;
            }

            &.submitted rect {
                fill: $teal;
                stroke: $teal;
            }

            &.running rect {
                fill: $blue;
                stroke: $blue;
            }

            &.succeeded rect {
                fill: $green;
                stroke: $green;
            }

            &.failed rect {
                fill: $red;
                stroke: $red;
            }

            &.submit-failed rect {
                fill: $pink;
                stroke: $pink;
            }
        }
    }
}

.job_theme--greyscale {

    $light: rgb(208,208,208);
    $medium: rgb(133,133,133);
    $dark: rgb(0,0,0);

    .c-job {
        svg.job {
            rect {
                /* if no job status display nothing */
                fill: transparent;
                stroke: transparent;
            }

            &.submitted rect {
                fill: transparent;
                stroke: $light;
            }

            &.running rect {
                fill: $light;
                stroke: $light;
            }

            &.succeeded rect {
                fill: $medium;
                stroke: $medium;
            }

            &.failed rect {
                fill: $dark;
                stroke: $dark;
            }

            &.submit-failed rect {
                fill: transparent;
                stroke: $dark;
            }
        }
    }
}

.job_theme--colour_blind {

    $grey: rgb(152,152,152);
    $success: rgb(108,218,255);
    $error: rgb(146,0,0);

    .c-job {
        svg.job {
            rect {
                /* if no job status display nothing */
                fill: transparent;
                stroke: transparent;
            }

            &.submitted rect {
                fill: transparent;
                stroke: $grey;
            }

            &.running rect {
                fill: $grey;
                stroke: $grey;
            }

            &.succeeded rect {
                fill: $success;
                stroke: $success;
            }

            &.failed rect {
                fill: $error;
                stroke: $error;
            }

            &.submit-failed rect {
                fill: transparent;
                stroke: $error;
            }
        }
    }
}
