@import "../material-dashboard/colors";
@import "../material-dashboard/variables";

.c-header {
  background-color: $grey-300;
  border-bottom: 2px solid $grey-400;
}

.c-environment-info {
  color: $grey-900;
  font-size: $font-size-default;
  font-weight: $font-weight-base;

  .v-chip {
    font-size: $font-size-default;
    span {
      background-color: $grey-100;
    }
  }
}
