.v-toolbar {
  min-height: inherit !important;

  .v-toolbar__content {
    min-height: inherit !important;
  }
}

.c-toolbar {
  background-color: map-get($grey, 'lighten-3');

  .c-toolbar-title, .add-view {
    font-size: 22px;
    color: map-get($blue, 'lighten-3');
    font-weight: map-get($font-weights, medium);
  }

  .c-toolbar-title {
    padding-right: 12px;
  }

  span {
    color: map-get($blue-grey, 'lighten-2');
  }

  .add-view {
  }
}
