@import '~vuetify/src/styles/styles.sass';

@import "cylc/variables";
@import "cylc/header";
@import "cylc/toolbar";
@import "cylc/drawer";
@import "cylc/job";
@import "cylc/task";
@import "cylc/dashboard";
@import "cylc/workflow";

.theme--light.v-application {
  background-color: transparent;
  .content {
    height: 100vh;
  }
}

:export {
  fontRootSize: $font-size-root;
}
