name: CI

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

jobs:
  unit-test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: yarn

      - name: Install
        run: yarn install

      - name: Lint
        env:
          NODE_ENV: production
        run: |
          yarn run lint --no-fix

      - name: Test
        run: |
          yarn run coverage:unit --colors

      - name: Docs
        uses: andstor/jsdoc-action@v1
        with:
          config_file: jsdoc.conf.json
        # TODO: upload to GH pages?

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/lcov.info
          name: '${{ github.job }}'
          flags: unittests
          fail_ci_if_error: false

      - name: Build
        run: yarn run build


  cypress-run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            browser: firefox
          - os: ubuntu-latest
            browser: chrome
# TODO: re-enable once macos build is stable #590
#          - os: macos-latest
#            browser: edge
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: e2e
        uses: cypress-io/github-action@v4
        with:
          start: yarn run serve --hide=CLIENT  # turn off build output because it's absurdly long
          wait-on: http://localhost:8080/
          config-file: cypress.config.js
          spec: "tests/e2e/**/*"
          browser: ${{ matrix.browser }}
        env:
          CYPRESS_baseUrl: http://localhost:8080/

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: tests/e2e/screenshots

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/lcov.info
          name: '${{ github.job }} ${{ matrix.os }} ${{ matrix.browser }}'
          flags: e2e
          fail_ci_if_error: false
