name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: Cache node modules
        uses: actions/cache@v2.1.6
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/yarn.lock') }}
      - name: Install
        run: yarn install
      - name: Lint
        run: |
          yarn run lint --no-fix
      - name: Test
        run: |
          yarn run coverage:unit
      - name: Docs
        uses: andstor/jsdoc-action@v1
        with:
          config_file: jsdoc.conf.json
        # TODO: upload to GH pages?
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.0.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/lcov.info
          flags: unittests
          fail_ci_if_error: false
      - name: Build
        run: yarn run build

  cypress-run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            browser: firefox
          - os: ubuntu-latest
            browser: chrome
# TODO: re-enable once macos build is stable #590
#          - os: macos-latest
#            browser: edge
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: e2e
        uses: cypress-io/github-action@v2
        with:
          start: yarn run serve
          wait-on: http://localhost:8080/
          config-file: cypress.json
          spec: "tests/e2e/**/*"
          browser: ${{ matrix.browser }}
        env:
          CYPRESS_baseUrl: http://localhost:8080/
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.0.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/lcov.info
          flags: e2e
          fail_ci_if_error: false
