name: CI

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 2

jobs:
  unit-test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: yarn

      - name: Install
        run: yarn install

      - name: Lint
        run: |
          yarn run lint

      - name: Test
        run: |
          yarn run coverage:unit

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/clover.xml
          name: '${{ github.job }}'
          flags: unittests
          fail_ci_if_error: false

      - name: Build
        run: yarn run build

      - name: Check browser compatibility
        run: yarn run lint:compat

  cypress-run:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        browser: [firefox, chrome]
        type: [e2e, component]
# TODO: re-enable once macos build is stable #590
#         include:
#           - os: macos-latest
#             browser: edge
    env:
      COVERAGE: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Test (E2E)
        if: matrix.type == 'e2e'
        uses: cypress-io/github-action@v6
        env:
          BASE_URL: http://localhost:4173/
        with:
          build: yarn run build --mode offline
          start: yarn run preview
          config: baseUrl=${{ env.BASE_URL }}
          wait-on: ${{ env.BASE_URL }}
          browser: ${{ matrix.browser }}

      - name: Test (component)
        if: matrix.type == 'component'
        uses: cypress-io/github-action@v6
        with:
          component: true
          browser: ${{ matrix.browser }}

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: tests/e2e/screenshots

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/lcov.info
          name: '${{ github.job }} ${{ matrix.os }} ${{ matrix.browser }} ${{ matrix.type }}'
          flags: ${{ matrix.type }}
          fail_ci_if_error: false
